{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <style>
      .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
      }
      
      .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: rgba(51, 51, 51, 0.55);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
      
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
      }
      
      .progress:hover .tooltiptext {
        visibility: visible;
      }
      </style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
        {% if total_users %}
          <div class="count">{{ total_users }}</div>
        {% else %}
          <div class="count">0</div>
        {% endif %}
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-file-image-o"></i> Total Images</span>
          {% if total_images %}
            <div class="count">{{ total_images }}</div>
          {% else %}
            <div class="count">0</div>
          {% endif %}
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Avg Process Seconds</span>
          {% if avg_time %}
            <div class="count">{{ avg_time }}</div>
          {% else %}
            <div class="count">0</div>
          {% endif %}      
      </div>
    </div>
    <!-- /top tiles -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

          <div class="row x_title">
            <div class="col-md-6">
              <h3>Detection Activities <small>By total users per day</small></h3>
            </div>
            <div class="col-md-6">
              <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="chart_plot_01" data-stuff='["a","b","c"]' class="demo-placeholder"></div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <br />

    <div class="row">

      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h3>Top 5 Objects</h3>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            {% if objects_htmls|length > 0 %}
              {% for objects_html in objects_htmls %}
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span>{{ objects_html[0] }}</span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ objects_html[2] }};">
                        <span class="sr-only">{{ objects_html[2] }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span>{{ objects_html[1] }}</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
              {% endfor %}
            {% else %}
              <div class="widget_summary">
                <div class="w_left w_25">
                  <span>unknown</span>
                </div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span class="sr-only">0%</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20">
                  <span>0%</span>
                </div>
                <div class="clearfix"></div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_title">
            <h3>Device Usage</h3>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="" style="width:100%">
              <tr>
                <th style="width:37%;">
                  <p>Top 5</p>
                </th>
                <th>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <p class="">Device</p>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <p class="">%</p>
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <canvas class="deviceDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                </td>
                <td>
                  <table class="tile_info">
                    {% if device_htmls|length > 0 %}
                      {% for device_html in device_htmls %}
                        <tr>
                          <td>
                            <p><i class="fa fa-square" style="color: {{ device_html[3] }}"></i>{{ device_html[0] }} </p>
                          </td>
                          <td>{{ device_html[2] }}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td>
                          <p><i class="fa fa-square"></i>unknown</p>
                        </td>
                        <td>0%</td>
                      </tr>
                    {% endif %}
                    
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h3>Active Users <small>By activities per user</small></h3>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <canvas id="userImageBarChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>

  <script type="text/javascript"> 
    // unblock when ajax activity stops 
     
    //$(window).load(function(){ $.blockUI(); })
    //$(document).ready(function(){ $(document).ajaxStop($.unblockUI); })

    $(document).ready(function() {
        init_Devicedoughnut({{ device_htmls|tojson|safe }});
        init_UserImageBarChart({{ user_images|tojson|safe }});
      });	
      
    function init_Devicedoughnut(devices) {
      if( typeof (Chart) === 'undefined'){ return; }
      
      var labels_array = []
      var data_array = []

      for (i=0; i< devices.length; i++){
          labels_array.push(devices[i][0])
          data_array.push(devices[i][1])
      }

      if ($('.deviceDoughnut').length) {
        var chart_doughnut_settings = {
            type: 'doughnut',
            tooltipFillColor: "rgba(51, 51, 51, 0.55)",
            data: {
              labels: labels_array,
              datasets: [{
                data: data_array,
                backgroundColor: ["#BDC3C7","#9B59B6","#E74C3C","#26B99A","#3498DB"],
                hoverBackgroundColor: ["#CFD4D8","#B370CF","#E95E4F","#36CAAB","#49A9EA"]
              }]
            },
            options: { 
              legend: false, 
              responsive: false 
            }
          }
        
        $('.deviceDoughnut').each(function(){
          var chart_element = $(this);
          var chart_doughnut = new Chart( chart_element, chart_doughnut_settings);
        });			
      }  
    };

    function init_UserImageBarChart(user_images) {
      console.log(user_images);

      var labels_array = []
      var data_array = []

      for (i=0; i< user_images.length; i++){
          labels_array.push(user_images[i][0])
          data_array.push(user_images[i][1])
      }

      var ctx = document.getElementById("userImageBarChart");
			  var userImageBarChart = new Chart(ctx, {
          type: 'bar',
          data: {
            //labels: ["Tom", "Jerry", "Michael", "John", "Jessica", "Natasha", "KS"],
            labels: labels_array,
            datasets: [{
            label: '# of upload',
            backgroundColor: "#26B99A",
            //data: [92, 88, 75, 63, 46, 33, 10]
            data: data_array
            }]
          },
          
          /*
          options: {
            scales: {
            yAxes: [{
              ticks: {
              beginAtZero: false
              }
            }]
            }
          }*/
			  });
    }
     
  </script> 
{% endblock javascripts %}
