{% extends "base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Object Detection</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <!-- <a class="btn btn-app">
                      <i class="fa fa-file-image-o"></i> Upload Image
                  </a> -->
                  <form action="/home/upload" method="POST" enctype="multipart/form-data" onsubmit="myFunction()">
                    Select a image file: <input type="file" name="image" class="btn btn-default btn-sm" accept="image/*"><br><br>
                    <input type="submit" class="btn btn-success btn-lg" >
                  </form>
                  <br>
                  <div class="col-md-6 col-sm-6 col-xs-12" style="border:0px solid #e5e5e5;">
                      <div class="x_panel tile">
                          <div class="x_content">
                            <div class="product-image fixed_height_320">
                                {% if original_image %}
                                  <img src="{{ original_image }}" alt="original image" />
                                {% else %}
                                  Waitting for upload...
                                {% endif %}
                            </div>
                          </div>
                        </div>
                    </div>
                  <div class="col-md-6 col-sm-6 col-xs-12" style="border:0px solid #e5e5e5;">
                    <div class="x_panel tile">
                        <div class="x_title">
                          <h4>Score of Object Detected</h4>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                          <div class="widget_summary">
                            <div class="w_left w_20">
                              {% if object_type %}
                                <span>{{ object_type }}</span>
                              {% else %}
                                <span>Unknown</span>
                              {% endif %}
                            </div>
                            <div class="w_center w_55">
                              <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ score_percent }};">
                                  <span class="sr-only">60% Complete</span>
                                </div>
                              </div>
                            </div>
                            <div class="w_right w_20">
                              {% if score %}
                                <span>{{ score }}</span>
                              {% else %}
                                <span>0</span>
                              {% endif %}                            
                            </div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="">
                            <h5>Box of object (top, left, bottom, right): </h5>
                            {% if json %}
                              <span>{{ json }}</span>
                            {% else %}
                              <span></span>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-6 col-sm-6 col-xs-12" style="border:0px solid #e5e5e5;">
                      <div class="x_panel tile">
                          <div class="x_title">
                            <h4>Image with Frame</h4>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                              <div class="x_content">
                                  <div class="product-image fixed_height_320">
                                    {% if frame_image %}
                                      <img src="{{ frame_image }}" alt="framed image" />
                                    {% else %}
                                      Waitting for upload...
                                    {% endif %}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12" style="border:0px solid #e5e5e5;">
                      <div class="x_panel tile">
                          <div class="x_title">
                            <h4>Image with Label</h4>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                              <div class="x_content">
                                  <div class="product-image fixed_height_320">
                                    {% if frame_image %}
                                      <img src="{{ result_image }}" alt="result image" />
                                    {% else %}
                                      Waitting for upload...
                                    {% endif %}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script type="text/javascript"> 
 
    // unblock when ajax activity stops 
    $(document).ajaxStop($.unblockUI); 
 
    function myFunction() {
      $.blockUI(); 
    }
 
</script> 
{% endblock javascripts %}

